* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    color: var(--mantine-color-black);

    /* 全体のフォントサイズを変更できる */
    font-size: 90%;
}

a {
    color: inherit;
    text-decoration: none;
}
